*{
	margin: 0px;
	padding: 0px;
}
.container{
	width:1140px;
	margin: auto; 

}

.nav ul li{
	list-style-type:none;
    display: inline;
    margin-right: 200px;
    background-color: #f1f1f1;
    padding: 20px;

   	}
   	header{
   		text-align: left;
   	}
   	h1{
   		text-align: center;
   	}
	h3{
		text-align: center;
	}
	h4{
		text-align: center;
	}
	h2{
		text-align: center;

	}
	
    h3{
    	text-align: center;
    }
    p{
    	text-align: center;
    	background-color: black;
    	color: white;
    }
    h3{
    	text-align: center;
    }
    tr{
    	text-align: center;
    }
    .who .row{
    	width: 1140px;
    }
    .who .row